.cluetip-outer .cluetip-title {
    background-color: #ff9;
}

.cluetip-inner {
    max-height: 400px;
    overflow-y: auto;
    word-wrap: break-word;
}

.cluetip-inner .cluetip-close {
    display: none;
}
